::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #4e4c97;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #4e4c97;
}

details {
    border: unset !important;
    padding-bottom: unset !important;
    margin-bottom: .25rem !important;
}

details[open]>summary {
    border-bottom: unset !important;
}

details[open]>div {
    margin-left: 0.625rem;
}

summary {
    background-color: transparent !important;
    font-weight: 500;
}

body {
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    display: none;
}

.btn:focus {
    box-shadow: unset;
}

.btn-menu {
    font-weight: 400;
    background-color: transparent;
    padding: .0625rem .75rem;
    border-radius: 0;
    border: 0 solid;
    transition: border .05s ease-in-out, padding .05s ease-in-out;
    white-space: pre-wrap;
    text-align: left;
}

.btn-menu:hover,
.btn-menu-active {
    font-weight: bold;
    border-left: .125rem solid;
    padding-right: .625rem;
    border-left: 3px solid;
}

.btn-aside {
    width: 4rem;
    font-weight: 400;
    font-size: .8rem;
    background-color: transparent;
    padding: 32px 0 0 7px;
    border-radius: 0;
    border: 0 solid;
    transition: border .1s ease-in-out, padding .1s ease-in-out
}

.btn-aside:hover,
.btn-aside-active {
    border-left: 4px solid;
    padding-left: 3px;
    font-weight: bold;
}

.btn-scheduler-on {
    border-radius: 0;
    margin: 0;
}

.btn-scheduler-off {
    border-radius: 0;
    margin: 0;
}

.toastify-center,
.toastify-right,
.toastify-left {
    margin-top: 3.3125rem;
}

.pywebio {
    padding-top: 0;
    padding-bottom: 0;
    min-height: unset;
}

#input-container {
    margin-bottom: 0;
}

#output-container {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    max-width: initial
}

.container {
    max-width: 100vh;
}

.hr-group {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important;
}

input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
}

label {
    display: inline;
}

.form-control {
    background-color: unset;
    border-radius: initial !important;
    border-width: 0;
    padding: 0 .5rem 0;
    margin-top: .125rem;
    height: auto !important;
}

.form-control:focus {
    border-color: unset;
}

.form-control.is-invalid:focus {
    box-shadow: 0 0.06rem 0 #dc3545;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-attachment: scroll;
    background-position: right, center;
    background-repeat: no-repeat;
    background-size: 1rem;
}

select.form-control.is-invalid {
    padding-right: 3rem !important;
    background-position: right 1.5rem center;
}

.CodeMirror {
    height: auto !important;
}

.CodeMirror-line {
    font-family: SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
}

.form-group {
    margin-bottom: 0 !important;
}

.ash-icon,
.ash-icon>image {
    width: 42px;
    height: 42px;
}

.aside-icon {
    width: 2rem;
    height: 2rem;
}

.container-log {
    border-radius: 0 !important;
    margin: .375rem !important;
    padding: 1rem !important;
}

*[style*="container-aside"] {
    z-index: 91;
    padding-left: .125rem;
    padding-right: .325rem;
    padding-top: 1rem;
    overflow-y: auto;
}

*[style*="container-menu"] {
    z-index: 90;
    padding-left: .5rem;
    padding-top: 1.2rem;
    overflow-y: auto;
    min-width: 12rem;
    max-width: 16rem;
}

*[style*="container-content"] {
    margin: 0;
    overflow: auto;
    padding: .625rem
}

*[style*="title-icon-ash"] {
    margin: .25rem 2rem .25rem 1rem;
    border-radius: 1.5rem;
}

*[style*="title-text-ash"] {
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto !important;
}

*[style*="title-text-title"] {
    font-size: 1.2rem;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

*[style*="title-text-title"]>p {
    margin: auto;
}

*[style*="title-status"] {
    padding-top: 3px;
    margin-top: auto;
    margin-bottom: auto;
}

*[style*="title-status"]>div>div+div+p {
    margin: 0;
}

*[style*="container-title"] {
    z-index: 100;
    grid-template-columns: 5.6rem 3.75rem 8rem minmax(5rem, 1fr) !important;
}

*[style*="aside-icon-setting"] {
    padding-top: .5rem;
}

*[style*="container-main"] {
    margin-top: 0;
    overflow-y: auto;
}

*[style*="container-all"] {
    height: 100%;
}

*[style*="container-gui"] {
    height: 100vh;
}

*[style*="group-title"] {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0 .25rem 0 .25rem !important;
}

*[style*="group-help"] {
    font-size: .80rem;
    margin: .2rem .25rem .1rem .25rem !important;
}

*[style*="group-overview-title"] {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0 0.625rem 0 !important;
}

*[style*="container-group"] {
    margin-top: .75rem;
    margin-bottom: .25rem;
    padding: 1rem;
}

*[style*="container-overview-group"] {
    font-weight: 500;
    margin: 0.3125rem;
    padding: 0.625rem;
    overflow-y: auto;
}

*[style*="container-overview-task"] {
    overflow-y: auto;
    height: 100%;
}

*[style*="container-args"] {
    margin: .125rem 0 .125rem 0
}

*[style*="container-overview-args"] {
    margin: .125rem .625rem .125rem .375rem
}

*[style*="container-large.args"] {
    margin-top: .375rem;
    margin-bottom: .375rem;
}

*[style*="arg-title"] {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 .25rem 0 .25rem !important;
    overflow-wrap: break-word;
}

*[style*="arg-help"] {
    font-size: .8rem;
    margin: .2rem .25rem .1rem .25rem !important;
    overflow-wrap: break-word;
}

*[style*="input-input"] {
    margin: 0;
    padding-right: .25rem;
}

*[style*="welcome"] {
    margin: 2rem;
    padding: 1rem 1rem 1rem 1rem;
}