<template>
  <iframe
    class="ash"
    :src="url"
  />
</template>

<script lang="ts">
  import {defineComponent} from 'vue';
  import {webuiUrl} from '../../../main/src/config';

  export default defineComponent({
    name: 'Ash',
    computed: {
      url: function () {
        return webuiUrl;
      },
    },
  });
</script>

<style scoped>
  .ash {
    border-width: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
</style>
